# windows
/*.exe
/*.obj
/*.exp
/*.ilk
/*.def
/*.lib
/*.pdb

/*/x64
/x64
/*.vs
/*.sln
/*.vcxproj
/*.vcxproj.*

# linux
/client
/midi
/playground

/a.out
/gmon.out
/callgrind.out.*
/perf.data
/perf.data.old

# sdl1 mingw32
/stderr.txt
/stdout.txt

# emscripten
/*.wasm.map
/*.js
/*.wasm
/*.data
/index.html

# devkitpro
/build
/*.elf

# wii
/*.dol

# 3ds
/*.3dsx
/*.smdh

# wiiu
/*.rpx
/*.wuhb

# switch
/*.nacp
/*.nro

# psp
EBOOT.PBP
PARAM.SFO

# vita
eboot.bin
param.sfo
*.velf
*.vpk

# psp/vita
/**/*.o

# extra
/SDL2.dll
/SDL3.dll
/config.ini
/openssl
/**/*.rdi
