# windows
/*.exe
/*.obj
/*.exp
/*.ilk
/*.def
/*.lib
/*.pdb

/*/x64
/x64
/*.vs
/*.sln
/*.vcxproj
/*.vcxproj.*

# linux
/client
/midi
/playground

/a.out
/gmon.out
/callgrind.out.*
/perf.data
/perf.data.old

# sdl1 mingw32
/stderr.txt
/stdout.txt

# emscripten
/*.wasm.map
/*.js
/*.wasm
/*.data
/*.html

# consoles
/client.elf

# wii
/client.dol

# 3ds
/client.3dsx
/client.smdh

# wiiu
/client.rpx
/client.wuhb

# switch
/client.nro
/client.nacp

# psp
/EBOOT.PBP
/PARAM.SFO
/client.prx

# vita
/eboot.bin
/param.sfo
/client.velf
/client.vpk

# dreamcast
/client.cdi
/flycast.log

# devkitpro
/build

# sony consoles
/**/*.o

# nxdk xbox
/client.iso
/rom/default.xbe
/**/*.d
/**/*.obj

# nds
/client.nds

# android
/android-project/.gradle
/android-project/build
/android-project/app/build

# extra
/SDL2.dll
/SDL3.dll
/config.ini
/**/*.rdi
